[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

getport = "*"
coloredlogs = "*"


[dev-packages]
assertpy = "*"
pytest = "*"
pytest-timeout = "*"

pytest-watch = "*"
